* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

li {
    list-style: none;
}

#root {
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

html::-webkit-scrollbar {
    width: 10px !important
}